.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

.shoesInfoImg {
  height: 400px;
  background-image: url(./img/bg.png);
  background-position: center;
  background-size: cover;
}

.shoesList {
  display: flex;
}
.container {
  display: flex;
}
.row {
  justify-content: center;
}
.col-md-4 {
  justify-content: space-between;
}
.shoesImg {
  width: 80%;
}

.resentView {
  width:150px;
  height: 40px;
  float: right;
  background-color: bisque;
  color:black;
  margin:50px;
  margin-right: 80px;
}

.resentView-text {
  height: 40px;
  align-items: center;
  display:flex;
  justify-content: center;
}

.detailInput {
  margin-top : 40px;
}

.btn-danger {
  margin: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
